---
import Anchor from "../common/Anchor.astro";
import type { EmploymentHistoryFrontmatter } from "../../lib/types";

type Props = EmploymentHistoryFrontmatter;

const {
  title,
  company,
  description,
  startDate,
  endDate,
  city,
  country,
  stack,
  bullets,
} = Astro.props;

console.log(stack);
---

<div class="flex flex-col gap-3 pb-8">
  <div class="flex flex-col gap-3 sm:flex-row sm:justify-between">
    <span
      class="text-xl zag-offset underline font-medium flex items-center"
      >{title}</span
    >
    <div class="flex gap-2">
      <span class="text-sm">{company}</span>
    </div>
  </div>
  <p class="zag-text zag-transition">
    {description}
  </p>

  <p class="zag-text zag-transition">
    {startDate} - {endDate}
  </p>
  <p class="zag-text zag-transition">
    {city}, {country}
  </p>

  <ul class="list-disc list-inside zag-text zag-transition">
    {bullets.map((bullet) => <li>{bullet}</li>)}
  </ul>

  <div class="flex flex-wrap gap-2">
    <p class="zag-text zag-transition font-bold">
      <span class="text-md">Stack:</span>
      {
        stack.map((tech) => (
          <span class="text-sm px-2 py-1 bg-gray-100 dark:bg-gray-800 rounded">
            {tech}
          </span>
        ))
      }
    </p>
  </div>
</div>
