---
import type { EmploymentHistoryFrontmatter } from "../../lib/types";
import { GLOBAL } from "../../lib/variables";
import EmploymentHistoryDetails from "../EmploymentHistoryDetails.astro";
type Props = {
  employmentHistory: Array<EmploymentHistoryFrontmatter>;
};

const { employmentHistory } = Astro.props;
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">
    {GLOBAL.employmentHistoryName}
  </h3>
</div>
<ul class="my-8">
  {
    employmentHistory.map((employmentHistory) => (
      <li>
        <EmploymentHistoryDetails
            title={employmentHistory.title}
            company={employmentHistory.company}
            description={employmentHistory.description}
            startDate={employmentHistory.startDate} 
            endDate={employmentHistory.endDate}
            city={employmentHistory.city}
            country={employmentHistory.country}
            stack={employmentHistory.stack}
            bullets={employmentHistory.bullets}
        />
      </li>
    ))
  }
</ul>
